html, body {
  height          : 100%;
  margin          : 0;
  background-color: wheat;
}

.leaflet-container {
  height    : 400px;
  width     : 600px;
  max-width : 100%;
  max-height: 100%;
}

#panel {
  width           : 100%;
  height          : 50px;
  background-color: #175B81;
  color           :white;
}

#map {
    width     : auto;
    height    : 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin    : 10px;
}

li
{
  list-style-type: none;
  margin-left    : 1vw;
}

li:first-child
{
  margin: 0;
}

footer
{
  padding-top   : 5vh;
  padding-bottom: 2vh;
}

.content
{
  height: 50vh;
  background-color: lightgray;
}

.container
{
  background-color: beige;
}

.copyright,  .impressum
{
  text-align: center;
}

.logo
{
  height: 8vh;
}

@media (max-width: 768px) 
{
  li
  {
    margin-left: 0;
    margin-bottom: 1vh;
  }
  
  .sozial
  {
    margin-bottom: 1vh;
  }
}

.sidebar {
  float           : left;
  width           : 25%;
  height          : 960px;
  background-color: white;
  color           : #175B81;
}

table, th, td {
  margin : 0px 5px;
	/* border : solid 1px #333; */
	padding: 2px 4px;
	font   : 10px Verdana;
}

th {
	font-size  :14px;
	font-weight: bold;
}

td {
	font-size  : 14px;
	font-weight: normal;
}

tr {
	background: white;
}
	
tbody tr:hover {
	background: yellow;
}

table {
	border-collapse: collapse;
}

#f3 {
	font-weight: bold
}

.p2 {
  font-size  : 24px;
	font-weight: bold;
  position   : relative;
  top        : 11px;
	left       : 20px;
}